<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lishixi.mapper.EmpMapper">
    <!--mybatis基于接口代理模式开发下
    1.接口和映射文件名要一致不包括后缀（EmpMapper和EmpMapper.xml）
    2.namespace要写接口的全路径名
    3.id要和接口定义的的方法名一致
    4.要保证接口和映射文件编译后放在同一个classes文件夹下（EmpMapper和EmpMapper.xml）
    -->
    <select id="findAll" resultType="emp">
    select * from emp
    </select>
</mapper>